@media screen and (min-width: 768px) {

    * {
        padding: 0;
        margin: 0;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    a:visited{
        color: inherit;
      }

    body {
          background-color: rgb(221, 160, 221,0.3);
      }
    
    .page-header {
        height: 100px;
        font-size: 35px;
        font-family: 'Philosopher',serif;
        text-align: center;
        letter-spacing: 15px;
        width: 100%;
        line-height: 1.1;
        opacity: 1;
        padding-top: 30px;
    }

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.main {
    display: flex;
}

.explain-wrapper {
    width: 200%;
    float: left;
    font-family: 'Philosopher',serif;
    margin-left: 100px;
}
.explain-title {
    font-size: 2.3vw;
    margin-bottom: 30px;
}
.explain {
    line-height: 2.2;
    margin-bottom: 30px;
    font-size: 16px;
}

.map img {
    width: 60%;
    float: right;
    margin-top: 0;
    margin-right: 13vw;
    height: 550px;
}

.link-title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    font-family: 'Philosopher',serif;
}

.date-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}


.date-7,.date-8,.date-9,.date-10,.date-11 {
    display: flex;
    border-radius: 20px;
    text-align: center;
    width: 45vw;
    padding: 10px;
    margin: 10px 20px;
}
.date-7 {
    background-color: lightskyblue;
}
.date-8 {
    background-color: rgb(245, 136, 3,0.7);
}
.date-9 {
    background-color: rgb(34, 139, 34,0.4);
}
.date-10 {
    background-color: rgb(200, 42, 206,0.7);
}
.date-11 {
    background-color: rgb(214, 10, 78,0.3);
}

.date h2 {
    font-size: 20px;
    color: black;
    letter-spacing: 5px;
}

.date p {
    font-size: 20px;
    color: black;
    letter-spacing: 2px;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
    .page-footer {
        background-color: #000;
        opacity: .6;
        position: relative;
        bottom: 0;
        width: 100%;
        height: 70px;
    }
    
    .footer-list {
        display: flex;
        opacity: 1;
        justify-content: center;
        list-style: none;
        padding-top: 20px;
    }
    
    .footer-list a {
        margin: 50px;
        font-size: 20px;
        color: white;
    }
    
    .footer-list a:hover {
        color: aqua;
    }
    
      
   
    }
